@import "tailwindcss";

.bg-multi-layer {
  @apply bg-repeat;
  background-image:
    url('/src/assets/graph-paper-5.png'),
    linear-gradient(rgba(30, 109, 160, 0.8) 0%, #1e6da0 60%),
    url('/src/assets/background.jpg');
}

.title {
  @apply mb-2.5 text-2xl text-center;
    text-shadow: rgb(2, 39, 63) 2px 2px 3px;
    font-family: museo_sans, "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(204, 228, 244);
}

.logo {
  @apply text-center text-3xl sm:text-5xl;
    text-shadow: #cce4f4 0px 0px 10px, #cce4f4 0 0 60px;
    margin: 0px;
    padding: 0;
    color: #02273f;
    text-transform: uppercase;
    font-family: math;
    font-weight: bold;
}

.section {
  @apply w-full max-w-md min-w-[200px] rounded p-4 space-y-2;
  background-color: rgba(2, 39, 63, 0.5);
}

.react-datepicker__month-container {
  float: none !important;
}

.button {
  @apply cursor-pointer rounded bg-slate-800 py-1 px-2.5 border border-gray-300 w-20 text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
}

.input {
  @apply w-9/12 bg-transparent placeholder:text-slate-400 text-shadow-white border border-slate-300 rounded-md px-4 py-2 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 hover:border-slate-400;
}

.error-input {
  @apply border-red-400 focus:ring-red-300
}

.input-container {
  @apply w-full min-w-[200px] flex justify-between gap-2.5
}

.text {
  text-shadow: #000000 0px 1px 0px;
  font-family: Palatino, Georgia, serif;
  font-weight: normal;
  font-size: 18px;
  color: #cce4f4;
}

.error-message {
  @apply text-red-400 text-sm min-h-4 ml-1;
}